.details-animated {
	display: inline-block;

	.summary {
		display: none;
	}

	@media screen {
		cursor: pointer;

		.summary,
		.details {
			transition: transform 0.2s ease 0.1s;
			transform-origin: 50% 50% 0.5em;
		}

		.summary {
			position: absolute;
			display: initial;
			transform: rotateX(0);
		}

		.details {
			transform: rotateX(0.25turn);
		}

		&:hover,
		&:focus,
		&:active {
			.summary {
				transform: rotateX(-0.25turn);
			}

			.details {
				transform: rotateX(0);
			}
		}
	}

	@media (prefers-reduced-motion: reduce) {
		&,
		&:hover,
		&:focus,
		&:active {
			cursor: initial;

			.summary {
				display: none;
			}

			.details {
				transform: none;
			}
		}
	}
}
