link(rel='stylesheet' type='text/css' href='./components/card/card.pcss')
link(rel='stylesheet' type='text/css' href='./components/education/education.pcss')
link(rel='stylesheet' type='text/css' href='./components/anchor/anchor.pcss')

include ../end-date/end-date.pug

mixin component_education(education)
	article.p-education.h-card.h-event.card(
		itemscope itemtype="http://schema.org/EducationEvent"
		id=urlify(
			date.format(education.startDate, 'yyyy-MM'),
			education.studyType,
			education.area,
			education.institution
		)
	)
		.card-inner(tabindex="0")
			header.card-header.anchor-container
				.heading-line
					h3.p-summary(itemprop="name")
						span.study-type!= markdown.inline(education.studyType || '')
						| 
						span.area!= markdown.inline(education.area || '')
						| 

					a.anchor(href=`#${urlify(
						date.format(education.startDate, 'yyyy-MM'),
						education.studyType,
						education.area,
						education.institution
					)}`) #

				.h-card(itemscope itemtype="http://schema.org/EducationalOrganization")
					if education.institution
						h4.p-name(itemprop="name")!= markdown.inline(education.institution)

					if education.location
						p.p-adr(itemprop="location")!= markdown.inline(education.location)

				.end-date
					+component_end_date(education)

			if education.courses
				.card-content.p-description
					ul
						each course in education.courses
							li.course(itemprop="workFeatured" itemscope itemtype="http://schema.org/Course")
								span(itemprop="name")!= markdown.block(course)
