.p-education {
	@media screen {
		--card-bg-color-hue: var(--secondary-color-hue);
		--card-bg-color-saturation: var(--card-highlight-color-saturation);
	}

	.heading-line {
		grid-area: heading-line;
	}

	.h-card {
		grid-area: school;
	}

	.end-date {
		grid-area: end-date;
	}

	.p-summary,
	.p-name,
	.p-adr {
		margin: 0;
	}

	.p-summary {
		display: inline;
	}

	&:container(min-width: 40rem) {
		@supports (display: grid) {
			.card-header {
				display: grid;
				column-gap: var(--inner-spacing-horizontal);
				grid-template-areas:
					'heading-line school'
					'end-date     school';
			}

			.h-card {
				text-align: right;
			}

			.p-summary,
			.p-name {
				font-size: 1.2em;
			}
		}
	}
}
