:root {
	--outer-spacing-vertical: 1rem;
	--outer-spacing-horizontal: 2rem;

	--inner-spacing-vertical: 1rem;
	--inner-spacing-horizontal: 1rem;

	--card-border-radius: 0.4em;
	--card-blur-radius: 0.3em;
}
