html {
	font-family: Arial, sans-serif;
	line-height: 1.5em;

	background-color: var(--bg-color, #fff);
	color: var(--fg-color, #000);
}

:link {
	color: var(--link-fg-color);
}

:visited {
	color: var(--link-visited-fg-color);
}

abbr {
	text-decoration: none;

	&::after {
		content: ' (' attr(title) ')';
		font-style: italic;
		font-weight: normal;
	}
}

.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.section {
	page-break-inside: avoid;

	.title {
		margin: 0;
		padding: calc(var(--outer-spacing-vertical) * 2)
			var(--outer-spacing-horizontal) var(--outer-spacing-vertical)
			var(--outer-spacing-horizontal);
	}
}

.footer {
	padding: var(--outer-spacing-vertical) var(--outer-spacing-horizontal);
}
