.fatal-error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	&-inner {
		padding: var(--outer-spacing-vertical, 1em)
			var(--outer-spacing-horizontal, 1em);
		background-color: var(--error-bg-color, red);
	}
}
