.h-resume {
	grid-area: resume;

	.basics {
		grid-area: resume-basics;
	}

	.sections {
		grid-area: resume-sections;
	}
}

.footer {
	grid-area: footer;
}

html,
body {
	height: 100%;
	margin: 0;
}

@page {
	margin-left: 0;
	margin-right: 0;
}

@media not print {
	body {
		display: grid;
		grid-template:
			'resume' 1fr
			'footer';
	}

	.h-resume {
		display: grid;
		grid-template:
			'resume-basics'
			'resume-sections' 1fr;
	}
}

.footer:container(min-width: 40rem) {
	display: flex;
	justify-content: space-between;
}
