:root {
	--bg-color-hue: 0;
	--bg-color-saturation: 0%;
	--bg-color-lightness: 100%;
	--bg-color: hsl(
		var(--bg-color-hue),
		var(--bg-color-saturation),
		var(--bg-color-lightness)
	);
	--fg-color-hue: 0;
	--fg-color-saturation: 0%;
	--fg-color-lightness: 23%;
	--fg-color: hsl(
		var(--fg-color-hue),
		var(--fg-color-saturation),
		var(--fg-color-lightness)
	);

	--primary-color-hue: 225;
	--primary-color-saturation: 73%;
	--primary-color-lightness: 50%;
	--primary-color: hsl(
		var(--primary-color-hue),
		var(--primary-color-saturation),
		var(--primary-color-lightness)
	);
	--secondary-color-hue: 260;
	--secondary-color-saturation: var(--primary-color-saturation);
	--secondary-color-lightness: var(--primary-color-lightness);
	--secondary-color: hsl(
		var(--secondary-color-hue),
		var(--secondary-color-saturation),
		var(--secondary-color-lightness)
	);
	--tertiary-color-hue: 125;
	--tertiary-color-saturation: var(--primary-color-saturation);
	--tertiary-color-lightness: var(--primary-color-lightness);
	--tertiary-color: hsl(
		var(--tertiary-color-hue),
		var(--tertiary-color-saturation),
		var(--tertiary-color-lightness)
	);

	--error-color-hue: 5;
	--error-color-saturation: var(--primary-color-saturation);
	--error-color-lightness: var(--primary-color-lightness);
	--error-color: hsl(
		var(--error-color-hue),
		var(--error-color-saturation),
		var(--error-color-lightness)
	);

	--link-fg-color: var(--primary-color);
	--link-visited-fg-color: var(--secondary-color);

	--error-bg-color: var(--error-color);

	--card-bg-color-hue: var(--bg-color-hue);
	--card-bg-color-saturation: var(--bg-color-saturation);
	--card-header-bg-color-lightness: 90%;
	--card-content-bg-color-lightness: var(--bg-color-lightness);
	--card-footer-bg-color-lightness: 90%;
	--card-shadow-color-lightness: var(--fg-color-lightness);
	--card-shadow-color-alpha: 0.2;
	--card-highlight-color-saturation: 30%;
}
