/*
> The `not` keyword inverts the meaning of an entire media query. It will only negate the specific media query it is applied to. (Thus, it will `not` apply to every media query in a comma-separated list of media queries.) The `not` keyword can't be used to negate an individual feature query, only an entire media query.

https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#Inverting_a_query's_meaning
*/
@media not all and (prefers-color-scheme: light) {
	:root {
		--bg-color-lightness: 10%;
		--fg-color-lightness: 90%;

		--primary-color-saturation: 90%;
		--primary-color-lightness: 70%;

		--card-header-bg-color-lightness: 17%;
		--card-content-bg-color-lightness: 12%;
		--card-footer-bg-color-lightness: 17%;
		--card-highlight-color-saturation: 12%;
	}
}
