link(rel='stylesheet' type='text/css' href='./components/card/card.pcss')
link(rel='stylesheet' type='text/css' href='./components/interests/interests.pcss')

mixin component_interests(interests)
	ul.list.interests
		each interest in interests
			li.card.interest
				.card-inner(tabindex="0")
					.card-header #{interest.name}
					if interest.keywords
						ul.card-content.keywords
							each keyword in interest.keywords
								li!= markdown.inline(keyword)
