.interests {
	@media screen {
		--card-bg-color-hue: var(--tertiary-color-hue);
		--card-bg-color-saturation: var(--card-highlight-color-saturation);
	}

	.interest {
		display: inline-block;
		vertical-align: top;

		.keywords {
			list-style-position: inside;
		}
	}
}
