mixin component_address(address)
	address.p-adr.h-adr(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
		if address.city
			span.p-locality(itemprop="addressLocality")= address.city
		if address.postalCode
			| 
			span.p-postal-code(itemprop="postalCode")= address.postalCode
		if address.countryCode
			| 
			span.p-country-name(itemprop="addressCountry")= address.countryCode
