.card {
	--card-header-bg-color: hsl(
		var(--card-header-bg-color-hue, var(--card-bg-color-hue)),
		var(--card-header-bg-color-saturation, var(--card-bg-color-saturation)),
		var(--card-header-bg-color-lightness)
	);
	--card-content-bg-color: hsl(
		var(--card-content-bg-color-hue, var(--card-bg-color-hue)),
		var(--card-content-bg-color-saturation, var(--card-bg-color-saturation)),
		var(--card-content-bg-color-lightness)
	);
	--card-footer-bg-color: hsl(
		var(--card-footer-bg-color-hue, var(--card-bg-color-hue)),
		var(--card-footer-bg-color-saturation, var(--card-bg-color-saturation)),
		var(--card-footer-bg-color-lightness)
	);
	--card-shadow-color: hsla(
		var(--card-shadow-bg-color-hue, var(--card-bg-color-hue)),
		var(--card-shadow-bg-color-saturation, var(--card-bg-color-saturation)),
		var(--card-shadow-color-lightness),
		var(--card-shadow-color-alpha)
	);

	padding: var(--outer-spacing-vertical) var(--outer-spacing-horizontal);

	&-inner {
		page-break-inside: avoid;

		box-shadow: 0 0.15em var(--card-blur-radius) var(--card-shadow-color),
			0 -0em var(--card-blur-radius) var(--card-shadow-color);
		border-radius: var(--card-border-radius);
		overflow: hidden;

		&:focus-within,
		&:focus {
			--card-blur-radius: 0.8em;
			--card-shadow-color: hsl(
				var(--card-bg-color-hue),
				var(--card-bg-color-saturation),
				40%
			);
			outline: 0;
		}

		@media print {
			box-shadow: none;
			border: var(--card-shadow-color) solid 0.1em;
		}
	}

	&-header,
	&-content,
	&-footer {
		padding: var(--inner-spacing-vertical) var(--inner-spacing-horizontal);

		&:empty,
		&:blank {
			padding: 0;
		}
	}

	&-header {
		background-color: var(--card-header-bg-color);
	}

	&-content {
		background-color: var(--card-content-bg-color);
	}

	&-footer {
		background-color: var(--card-footer-bg-color);
	}

	&-header + &-content,
	&-header + &-footer {
		border-top: var(--card-header-bg-color) solid 0.1em;
	}

	&-content + &-footer {
		border-top: var(--card-footer-bg-color) solid 0.1em;
	}
}
