.anchor-container {
	.anchor {
		opacity: 0;
		transition: opacity 0.2s ease 0.1s;

		@media screen {
			&:hover,
			&:focus,
			&:active {
				opacity: 1;
			}
		}
	}

	@media screen {
		&:hover {
			.anchor {
				opacity: 1;
			}
		}
	}
}
