link(rel='stylesheet' type='text/css' href='./components/basics/basics.pcss')

include ../address/address.pug
include ../profile/profile.pug

mixin component_basics(basics)
	header.header.basics.h-card(itemscope itemtype="http://schema.org/Person")
		if basics.label
			.title
				h1.p-job-title(itemprop="jobTitle")!= markdown.inline(basics.label)

		.me
			if basics.name
				strong.p-name(itemprop="name")
					- const name = basics.name.split(/\s+/)
					- const givenName = name.shift()
					- const familyName = name.pop()
					- const additionalName = name.join(' ')
					if givenName
						span.p-given-name(itemprop="givenName")= givenName
					else
						span No name
					if additionalName
						| 
						span.p-additional-name(itemprop="additionalName")= additionalName
					if familyName
						| 
						span.p-family-name(itemprop="familyName")= familyName

			if basics.email || basics.phone
				div.p-contact
					if basics.email
						a.u-email(href="mailto:" + basics.email itemprop="email")= basics.email
					if basics.phone
						a.p-tel(href="tel:" + basics.phone itemprop="telephone")= basics.phone

			if basics.url
				a.u-url(href=basics.url itemprop="url")= basics.url.replace(/https?:\/\//, '')

			if basics.location
				+component_address(basics.location)

			if Array.isArray(basics.profiles) && basics.profiles.length > 0
				ul.list
					each profile in basics.profiles
						li
							+component_profile(profile)

		if basics.image
			img.image.u-photo(src=basics.image itemprop="image")

		if basics.summary
			.summary.p-summary!= markdown.block(basics.summary)
