.basics {
	.me {
		grid-area: me;
	}

	.title {
		grid-area: title;
	}

	.image {
		grid-area: image;
	}

	.summary {
		grid-area: summary;
	}

	.me,
	.title .p-job-title,
	.image,
	.summary {
		margin: 0;
		padding: var(--outer-spacing-vertical) var(--outer-spacing-horizontal);
	}

	.title .p-job-title {
		padding-top: calc(var(--outer-spacing-vertical) * 2);
	}

	.p-name,
	.p-contact > * {
		display: block;
	}

	.p-name {
		text-transform: capitalize;
	}

	.p-family-name {
		text-transform: uppercase;
	}

	.image {
		display: block;
		max-width: 100%;
		box-sizing: border-box;
	}

	&:container(50rem < width) {
		display: grid;
		grid-template-areas:
			'me			title		image'
			'summary	summary		summary';
		grid-template-columns: repeat(3, 1fr);

		.title {
			text-align: center;
		}

		.me,
		.title .p-job-title,
		.image {
			padding-top: calc(var(--outer-spacing-vertical) * 2);
		}

		.image {
			justify-self: flex-end;
			margin: 0;
		}
	}
}
