link(rel='stylesheet' type='text/css' href='./components/card/card.pcss')
link(rel='stylesheet' type='text/css' href='./components/experience/experience.pcss')
link(rel='stylesheet' type='text/css' href='./components/anchor/anchor.pcss')

include ../duration/duration.pug

mixin component_experience(experience)
	article.p-experience.h-card.h-event.card(
		itemscope itemtype="http://schema.org/BusinessEvent"
		id=urlify(
			date.format(experience.startDate, 'yyyy-MM'),
			experience.position,
			experience.company
		)
	)
		.card-inner(tabindex="0")
			header.card-header.anchor-container
				.heading-line
					if experience.position
						h3.p-job-title!= markdown.inline(experience.position)
						| 

					a.anchor(href=`#${urlify(
						date.format(experience.startDate, 'yyyy-MM'),
						experience.position,
						experience.company
					)}`) #

				.company(itemscope itemtype="http://schema.org/Corporation")
					if experience.company
						h4.p-name(itemprop="name")!= markdown.inline(experience.company)

					if experience.website
						a.u-url(href=experience.website itemprop="url")= experience.website

					if experience.location
						p.p-adr(itemprop="location")!= markdown.inline(experience.location)

				.duration
					+component_duration(experience)

			if experience.companyDescription || experience.summary || experience.highlights
				.card-content
					if experience.companyDescription
						.p-company-description!= markdown.block(experience.companyDescription)

					if experience.summary
						.summmary.p-summary(itemprop="about")!= markdown.block(experience.summary)

					if experience.highlights
						ul.p-description(itemprop="description")
							each highlight in experience.highlights
								li.highlight!= markdown.block(highlight)

			if experience.stack
				footer.card-footer
					.stack
						h5.stack-title= themeLocale.Stack
						ul.stack-technos
							each techno in experience.stack
								li.stack-techno!= markdown.inline(techno)
