.p-experience {
	@media screen {
		--card-bg-color-hue: var(--primary-color-hue);
		--card-bg-color-saturation: var(--card-highlight-color-saturation);
	}

	.heading-line {
		grid-area: heading-line;
	}

	.company {
		grid-area: company;
	}

	.duration {
		grid-area: duration;
	}

	.p-job-title,
	.company .p-name {
		font-size: 1.2em;
		margin: 0;
	}

	.p-job-title {
		display: inline;
	}

	.p-adr {
		margin: 0;
	}

	.p-description p {
		margin: 0;
	}

	.stack {
		&-title {
			margin: 0;
			margin-bottom: var(--inner-spacing-vertical);
			padding: 0;
			font-size: 1em;
		}

		&-technos {
			margin: 0;
			padding: 0;
			column-width: 20ch;
			list-style-position: inside;
		}
	}

	&:container(min-width: 40rem) {
		@supports (display: grid) {
			.card-header {
				display: grid;
				column-gap: var(--inner-spacing-horizontal);
				grid-template-areas:
					'heading-line company'
					'duration     company'
					'.            company';
			}

			.company {
				text-align: right;
			}

			.p-job-title,
			.company .p-name {
				font-size: 1.2em;
			}
		}
	}
}
