link(rel='stylesheet' type='text/css' href='./components/details-animated/details-animated.pcss')
link(rel='stylesheet' type='text/css' href='./components/duration/duration.pcss')

mixin component_duration(duration)
	.duration.details-animated(tabindex=0)
		unless duration.endDate
			.summary
				time.dt-start(datetime=duration.startDate itemprop="startDate" content=duration.startDate)
					| #{themeLocale.Since}
					| #{date.formatDistanceToNow(duration.startDate)}

			| 

			.details
				time.dt-start(datetime=duration.startDate itemprop="startDate" content=duration.startDate)
					| #{themeLocale.Since}
					| #{date.format(duration.startDate, 'MMM yyyy')}

		if duration.endDate
			.summary
				| #{date.formatDistance(duration.endDate, duration.startDate)}

			| 

			.details
				time.dt-start(datetime=duration.startDate itemprop="startDate" content=duration.startDate)
					| #{themeLocale.From}
					| 
					if date.differenceInCalendarYears(duration.endDate, duration.startDate) === 0 && date.differenceInCalendarMonths(duration.endDate, duration.startDate) !== 0
						| #{date.format(duration.startDate, 'MMM')}
					else
						| #{date.format(duration.startDate, 'MMM yyyy')}

				time.dt-end(datetime=duration.endDate itemprop="endDate" content=duration.endDate)
					| 
					| #{themeLocale.to}
					| #{date.format(duration.endDate, 'MMM yyyy')}
