doctype html
html(lang=locale)
	head
		meta(charset="utf-8")
		if !resume
			title Error
		else
			title #{themeLocale.Resume} #{resume.basics && resume.basics.name}
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		link(rel="stylesheet" type="text/css" href="./stylesheet/base.pcss")
		link(rel="stylesheet" type="text/css" href="./stylesheet/layout.pcss")
		link(rel="stylesheet" type="text/css" href="./stylesheet/abstract.pcss")
		link(rel="stylesheet" type="text/css" href="./stylesheet/theme-default.pcss")
		link(rel="stylesheet" type="text/css" href="./stylesheet/theme-dark.pcss" media="screen")
		link(rel='stylesheet' type='text/css' href='./components/anchor/anchor.pcss')

		if !resume
			link(rel="stylesheet" type="text/css" href="./stylesheet/fatal-error.pcss")

		script(async src="./cq-prolyfill.js")


	include ./components/basics/basics.pug
	include ./components/experience/experience.pug
	include ./components/education/education.pug
	include ./components/interests/interests.pug


	body
		if !resume
			main.fatal-error
				.fatal-error-inner
					h1 Error
					p You need to provide a <samp>resume.json</samp> file

		else
			main.h-resume
				if resume.basics
					+component_basics(resume.basics)

				.sections
					if resume.work
						section#experiences.experiences.section(itemscope itemtype="http://schema.org/EventSeries")
							h2.title= themeLocale.Experiences
							ol.list
								each experience in resume.work.sort(compareByStartDate)
									li
										+component_experience(experience)

					if resume.education
						section#educations.educations.section(itemscope itemtype="http://schema.org/EventSeries")
							h2.title= themeLocale.Educations
							ol.list
								each education in resume.education.sort(compareByStartDate)
									li
										+component_education(education)

					if resume.interests
						section#interests.section.anchor-container
							h2.title= themeLocale.Interests
								| 
								a.anchor(href="#interests") #
							+component_interests(resume.interests)

			footer.footer
				div
					| Powered by 
					a(href="https://jsonresume.org/") jsonresume

				time.dt-last-update(datetime=new Date() content=new Date() title=new Date())
					| !{themeLocale.Last_update_date}
					| #{date.format(new Date(), themeLocale.dateFormat)}
